<div class="card">

  <p-table [value]="tasks" [tableStyle]="{ 'min-width': '60rem' }">
    <ng-template #header>
      <tr>
        <th pSortableColumn="id">
          Id <p-sortIcon field="id" />
        </th>
        <th pSortableColumn="description">
          Descripción <p-sortIcon field="description" />
        </th>
        <th pSortableColumn="end_date">
          Fecha de término <p-sortIcon field="end_date" />
        </th>
        <th>
          Duración <p-sortIcon field="duration" />
        </th>
        <th pSortableColumn="status">
          Estado <p-sortIcon field="status" />
        </th>
        <th>
          Opciones <p-sortIcon field="options" />
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-task>
      <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.end_date }}</td>
        <td>{{ task.duration }}</td>
        <td>{{ task.status }}</td>
        <td>
          <p-button
            icon="pi pi-pencil"
            (click)="editTask(task)"
            severity="secondary"
            rounded
            [disabled]="task.status === 'COMPLETED'"
          />
          <p-button
            icon="pi pi-trash"
            (click)="deleteTask(task)"
            severity="secondary"
            rounded
          />
          <p-button
            icon="pi pi-play"
            (click)="startTask(task)"
            [severity]="task.id === taskId && activeAction === 'start' ? 'success' : 'secondary'"
            rounded
            [disabled]="task.status === 'COMPLETED'"
          />
          <p-button
            icon="pi pi-pause"
            (click)="pauseTask(task)"
            [severity]="task.id === taskId && activeAction === 'stop' ? 'warn' : 'secondary'"
            rounded
            [disabled]="!isStarted[task.id] || task.status === 'COMPLETED'"
          />
          <p-button
            icon="pi pi-undo"
            (click)="resetTask(task)"
            [severity]="task.id === taskId && activeAction === 'reset' ? 'info' : 'secondary'"
            rounded
            [disabled]="!isStarted[task.id] ||task.status === 'COMPLETED'"
          />
          <p-button
            icon="pi pi-stop"
            (click)="completeTask(task)"
            [severity]="task.id === taskId && activeAction === 'delete' ? 'danger' : 'secondary'"
            rounded
            [disabled]="!isStarted[task.id] ||task.status === 'COMPLETED'"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Modal de edicion -->

<p-dialog
  header="Agregar Tarea"
  [modal]="true"
  [(visible)]="displayEditDialog"
  [breakpoints]="{ '1199px': '40vw', '575px': '50vw' }"
  [style]="{ width: '40vw', height: '80vh' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="modal-content">

    <!-- Descripción de la tarea -->
    <div class="input-group">
      <input
        pInputText
        id="description"
        class="input-field"
        autocomplete="off"
        placeholder="Descripción de la tarea"
        [(ngModel)]="description"
      />
    </div>

    <!-- Duración de la tarea -->
    <div class="card-container">
      <span class="label">Duración en minutos</span>
      <p-inputnumber
        [(ngModel)]="duration"
        [showButtons]="true"
        buttonLayout="horizontal"
        spinnerMode="horizontal"
        inputId="horizontal"
        [inputStyle]="{ width: '3rem' }"
        [min] ="1"
      >
        <ng-template #incrementbuttonicon>
          <span class="pi pi-plus"></span>
        </ng-template>
        <ng-template #decrementbuttonicon>
          <span class="pi pi-minus"></span>
        </ng-template>
      </p-inputnumber>
    </div>

    <!-- Fecha de término -->
    <span class="label">Fecha de término</span>
    <div class="date-group">
      <p-calendar
        [(ngModel)]="date"
        dateFormat="yy-mm-dd"
        inline="true"
      ></p-calendar>
    </div>

    <!-- Botones de acción -->
    <div class="button-group">
        <p-button  label="Cancelar" severity="secondary" (click)="cancelEdit()"></p-button>
      <p-button  label="Editar" (click)="EditTask()"></p-button>
    </div>

  </div>
</p-dialog>



<!-- Modal de confirmación de eliminación -->
<p-dialog
  header="Confirmar eliminación"
  [modal]="true"
  [(visible)]="displayDeleteDialog"
  [style]="{ width: '450px', }"
  class="delete-dialog"
>
  <p class="dialog-message">¿Seguro que deseas eliminar la tarea "{{ taskId }}"?</p>
  <div class="button-group">
    <p-button label="Cancelar" severity="secondary" (click)="cancelDelete()"></p-button>
    <p-button label="Eliminar" severity="danger" (click)="removeTask()"></p-button>
  </div>
</p-dialog>


</div>



<ng-content></ng-content>
