/*Edit modal*/
.modal-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 24px; 
}

.input-group {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.input-field {
  flex-grow: 1;
  width: 100%;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.label {
  font-size: 16px;
  color: #666;
}

.inline-date-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  padding-top: 310px;
  
}


/* Delete modal*/